/* Write your CSS here */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  width: 100%;
} 

.page-not-found {
  color: #ffffff;
  font-family: "Bree Serif";
  font-size: 30px;
}